/* Estilos generales para todos los html's */


:root{
    /* Paleta de colores */
    --primary-color:#9f3647;
    --secondary-color:#ffc098;
    --secondary-bis-color: #FF8C42;
    --third-color:#ec3734;
    --third-bis-color:#f16361;
    --fourth-color: #a32e2c;
    --fourth-bis-color: #d43d3a;
    --bg-nav-color:#181419;
    --bg-color:#4f31572c;
    --white-color: #fdf5ef;

    /* Fuentes */
    --primary-font: "Poetsen One", sans-serif;
    --secondary-font: Verdana, sans-serif;

    font-family: var(--primary-font, --secondary-font);
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
}

/* General */

* {
    box-sizing: border-box;
    /* Se quita el margen de los elementos, para que la barra de navegación
    aparezca en el comienzo del html (arriba de la ventana): */
    margin: 0 0;
    z-index: 10; /* Se ponen los elementos encima del video de fondo */
}

/* Estilo de los links */
a {
    text-decoration: none; /* Se quita el subrayado */
    text-decoration-color: inherit; /* Se hereda el color de la fuente del elemento padre */
    color: inherit; /* Se hereda el color de la fuente del elemento padre */
}

li {
    list-style-type: none; /* Quita los estilos de lista */
}

/* Header */

/* Estilos para la barra de navegación */
header {
    /* background-color: var(--bg-nav-color); /* Color de fondo */
    color: var(--white-color); /* Color del texto */
}

.navbar {
    display: flex; /* Utiliza flexbox para el diseño */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 1em 2em; /* Espaciado interno */
    z-index: 10; /* Se le da prioridad a que aparezca encima */
}

.navbar-menu {
    display: flex; /* Utiliza flexbox para el diseño */
}

.navbar-menu li {
    margin-right: 2em; /* Espacio entre elementos del menú */
}

.navbar-menu li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento del menú */
}

.logo {
    font-size: 3em;
}


/* Body */

body {
    background-color: var(--bg-color); /* Color de fondo (auxiliar) */

    display: flex; /* Se usa flexbox para los elementos */
    flex-direction: column; /* Se los orienta verticalmente */

    box-sizing: border-box; /* Ajusta el borde de la caja del body */
    width: 100vw; /* Fija el ancho de todo el body a la ventana */
    height: 100vh; /* Fija el alto de todo el body a la ventana */
}

main {
    display: flex; /* Se usa flexbox para los elementos */
    flex-direction: column; /* Dirección vertical para el flex */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */

    box-sizing: border-box; /* Ajusta el borde de la caja del main al body */
    width: 100%; /* Fija el ancho de todo el main al body */
    height: 100%; /* Fija el alto de todo el main al body */
}

.mensajes {
    margin-bottom: 3em; /* Espaciado con el banner de abajo */
    display: contents; /* Display para que no funcionen como cajas los elementos */
}

h1, h2 {
    color: var(--secondary-color); /* Color del texto */
    text-align: center; /* Centra el texto */
    
    position: relative; /* Establece posicion relativa para el pseudoelemento con el que se hace la sombra */
}

/* h1 refiere al id: #mensaje_grande */
h1 > span {
    color: var(--secondary-bis-color); /* Color para el resaltado de las palabras */
}

/* h2 refiere al id: #mensaje_chico */
h2 {
    color: var(--secondary-bis-color)
}

h1::after {
    /* Pseudoelemento con el que se hace la sombra detrás */
    position: absolute; /* Posiciona de manera absoluta, respecto de la ultima posicion del elemento padre */
    left: 0; /* Posiciona en el origen del elemento padre */
    top: 0; /* Posiciona en el origen del elemento padre */

    width: 100%; /* Ocupa todo el ancho del elemento padre */
    height: 100%; /* Ocupa todo el alto del elemento padre */

    background: rgba(15, 15, 15, 0.3); /* Color de la sombra */
    color: rgba(15, 15, 15, 0.8); /* Color de la letra de la sombra */
    border-radius: 10px; /* Redondea el borde */
    filter: blur(5px); /* Difumina la sombra para que haga el efecto */

    /* Se pone el mismo contenido que en h1, para que haya una sombra realizada
    por el rectángulo del background y otra sombra realizada por el texto */
    content: "¡Entérate de todos los beneficios que tendrás con nosotros!";

    z-index: -1; /* Se lo posiciona atrás del elemento padre */
}

h2::after {
    /* Pseudoelemento con el que se hace la sombra detrás */
    position: absolute; /* Posiciona de manera absoluta, respecto de la ultima posicion del elemento padre */
    left: 0; /* Posiciona en el origen del elemento padre */
    top: 0; /* Posiciona en el origen del elemento padre */

    width: 100%; /* Ocupa todo el ancho del elemento padre */
    height: 100%; /* Ocupa todo el alto del elemento padre */

    background: rgba(15, 15, 15, 0.3); /* Color de la sombra */
    border-radius: 10px; /* Color de la letra de la sombra */
    color: rgba(15, 15, 15, 0.8); /* Redondea el borde */
    filter: blur(5px); /* Difumina la sombra para que haga el efecto */

    /* Se pone el mismo contenido que en h1, para que haya una sombra realizada
    por el rectángulo del background y otra sombra realizada por el texto */
    content: "Déjanos tu correo y nos contactaremos a la brevedad.";

    z-index: -1; /* Se lo posiciona atrás del elemento padre */
}

.banner {
    position: relative; /* Posiciona el elemento para que siga el flujo */
    /* background-color: rgba(255,255,255,0.5); /* Color de fondo (auxiliar)*/
    width: 100%; /* Fija el ancho de todo el banner al main */
    padding-top: 2em; /* Espacio interno arriba */
    padding-bottom: 2em; /* Espacio interno abajo */
}

form {
    background: var(--white-color);
    border-radius: 1em;
    width: 50%;

    display: flex;
    justify-content: center;
}

form ul {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

input {
    font-family: var(--primary-font);
}

input[type="email"], input[type="text"] {
    padding-top: 3px;
    border-radius: 4px;
    padding-bottom: 3px;
}

textarea {
    font-family: var(--primary-font);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 8px;
    width: 8cm;
    resize: none;
}

li > button {
    padding: 0.5em 3em;

    background-color: var(--primary-color);
    color: var(--white-color);
    font-family: var(--primary-font);
    font-size: 12pt;
    cursor: pointer; /* Mouse con manita para hacer click al pasar el mouse */

    border-radius: 1em;
    border: none;

    transition: background-color 0.3s; /* Transiciona el color del background */
}

li > button:hover {
     /* Cambia el color del background del botón al pasar el mouse */
    background-color: var(--third-color);
}

.img_background {
    /* Posiciona el video al comienzo para que ocupe toda la ventana */
    position: absolute;
    top: 0; /* Posiciona el borde superior del video arriba, en el comienzo de la ventana */
    left: 0; /* Posiciona el borde izquierdo del video a la izquierda, en el comienzo de la ventana */

    width: 100vw; /* Ajusta el ancho del video a toda la ventana */
    height: 100vh; /* Ajusta el alto del video a toda la ventana */

    object-fit: cover; /* Ajusta el escaleo del video */

    z-index: 0; /* Ajusta la sobreposicion con otros elementos del html */
}
