:root{
    --primary-color:#9f3647;
    --bg-color:#181419;
    --secondary-color:#ffc098;
    --third-color:#db4648;
    --third-bis-color:#db4648f2;
    --bg-input-color:#4f31572c;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font:'Nunito', sans-serif;
}

/* Estilos para la barra de navegación */
header {
    background-color: #333; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
}

.navbar {
    display: flex; /* Utiliza flexbox para el diseño */
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
}

.logo {
    font-size: 1.5em; /* Tamaño de fuente del logo */
}

.navbar-menu {
    list-style-type: none; /* Quita los estilos de lista */
    display: flex; /* Utiliza flexbox para el diseño */
}

.navbar-menu li {
    margin-right: 20px; /* Espacio entre elementos del menú */
}

.navbar-menu li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento del menú */
}

/* b- reglas generales */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* selectores de clase */
/** header */

.header_logo {
    margin-top: 3rem;
    margin-left: 3rem;
    text-align: left;
    font-size: 2rem;
    text-decoration: none;
    position: absolute;
    z-index: 2; 
}

.logo-color i{     
     color: #f2f2f2;
}

/* body */

.banner {
    /*position: 0 0 0 0;*/
    position: relative;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

